@import "../../variables.scss";
:host /deep/ {
  mat-divider {
    display: $block;
    border-top-style: $solid;
    border-top-width: 1px;
  }
}

.background-image {
  background-image: url("../../assets/login-images/iot.jpg");
  background-repeat: $no-repeat;
  background-attachment: $inherit;
  background-size: $cover;
  border-left: 1px solid $border-left-color;
  height: 100vh;
}

.padding {
  padding: 16px 0;
}
mat-icon {
  margin-right: 10px;
}
.remember-text {
  text-decoration: $none;
  color: $color-accent;
  text-decoration: $none;
  cursor: $pointer;
  padding-top: 3px;
}
.cardView {
//   margin-left: 0px;
//   margin-right: 950px;
//   height: 500px;
// //   margin-top: 65px;
  box-shadow: $none !important;
  background-color: $transparent !important;
}

mat-card-content {
  background-color: $mat-card-content-background-color;
}

.ngForm {
  width: 90%;
  padding-top: 20px;
}

.mat-input-underline {
  position: $absolute;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  border-top-width: 1px;
  border-top-style: $solid;
}

.infoLabel {
  margin-top: 38px;
  position: $absolute;
  font-size: 11px;
  color: $info-label;
  letter-spacing: 1px;
}
.pad-top-5 {
  padding-top: 5px;
}
.infoLabel mat-icon {
  margin-top: -6px;
  margin-left: -36px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.clickable {
  cursor: $pointer;
  color: $color-blue;
  text-decoration: $underline;
}
.clickableSignUp {
  cursor: $pointer;
  color: $color-accent;
  text-decoration: $underline;
}
.messageStrip {
  color: $messageStrip;
  background: $messageStrip-background;
  height: 70px;
  width: 100%;
  text-align: $center;
}
.messageStripSignup {
  height: 100px;
  width: 100%;
  text-align: $center;
}
.messageTextSginup {
  padding: 10px;
  padding-top: 15px;
  font-size: 15px;
  font-weight: 500;
}
.messageText {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 500;
}

.warningMessage mat-icon {
  color: $warning-message;
  font-size: 39px !important;
}
.signupMessage mat-icon {
  color: $text-green;
  font-size: 36px !important;
}
.signupMessage.mat-card .mat-divider {
  border-top-color: $border-color !important;
  border-top-style: $solid !important;
  border-top-width: 1px !important;
}
.signupMessage mat-card-title span {
  letter-spacing: 1px;
  font-variant-caps: $all-petite-caps;
  position: $absolute;
  margin-top: 5px;
}

.signupMessage mat-card-subtitle {
  letter-spacing: 1px;
  font-variant-caps: $all-petite-caps;
  color: $_RED;
}

.signupMessage .info {
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
  font-style: $italic;
}

mat-card.warningMessage.mat-card {
  width: 100%;
}

.warningMessage.mat-card .mat-divider {
  border-top-color: $border-color !important;
  border-top-style: $solid !important;
  border-top-width: 1px !important;
}

.contactDetails {
  padding: 5px;
  padding-left: 10px;
}

.borderLeft {
  border-left: 5px solid $border-color;
}

.warningMessage mat-card-title span {
  letter-spacing: 1px;
  font-variant-caps: $all-petite-caps;
  position: $absolute;
  margin-top: 5px;
}

.warningMessage mat-card-subtitle {
  letter-spacing: 1px;
  font-variant-caps: $all-petite-caps;
  color: $_RED;
}

.warningMessage .info {
  letter-spacing: 1px;
  font-size: $meta-font-size;
  font-style: $italic;
}

.contactBoxes div {
  padding: 5px 0px;
  font-size: $meta-font-size;
  letter-spacing: 1px;
}

span.contactBoxesHead {
  position: $absolute;
  margin-top: 5px;
  padding-left: 10px;
  font-size: $default-font-size;
  font-weight: 600;
}

.footerText {
  color: $footer-text-color;
}

.registrationText {
  font-size: 21px !important;
  color: $text-green;
}
.starSize {
  color: $color-accent;
  font-size: 20px;
}
.displayNone {
  display: $none !important;
}
.terms {
  cursor: pointer;
  padding-left: 2px;
  text-decoration: underline;
  color: blue;
}
.backgroundWhite {
  background: rgb(255, 255, 255) !important;
}

.center {
  display: block;
  height: "100px";
  width: "200px";
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1400px), (max-height: 725px) {
  .form-scroll {
    overflow-y: auto;
    height: 500px;
  }
}
