<td-layout >
  <td-navigation-drawer
    flex
    img="/assets/login-images/output-onlinepngtools.png"
    sidenavTitle="Business setup"
    name="Firstname Lastname"
    email="firstname.lastname@company.com"
  >
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item
        ><mat-icon>{{ item.icon }}</mat-icon
        >{{ item.title }}</a
      >
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item
          ><mat-icon>{{ item.icon }}</mat-icon
          >{{ item.title }}</a
        >
      </mat-nav-list>
    </div>
  </td-navigation-drawer>

  <td-layout-nav-list
    #navList
    [opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'"
  >
    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../assets/ico/logo-03.png" height="70px" width="70px" />
      <span [routerLink]="['/']" class="cursor-pointer"
        >Remote Infrastructure</span
      >
    </div>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>Page Title</span>
      <span flex></span>
      <a mat-icon-button mat-icon-button [mat-menu-trigger-for]="userMenu" id="userIcon" ><mat-icon svgIcon="assets:user"></mat-icon></a>

    <mat-menu x-position="before" #userMenu="matMenu">
        <mat-list class="sbmmat-list">
            <mat-list-item class="sbmMenuHighlight">
                <mat-icon matListAvatar class="sbmUserAvatar">person</mat-icon>
                <h3 mat-line class="username">{{name}}</h3>
                <p mat-line class="useremail">{{emailId}}</p>
            </mat-list-item>
            <mat-divider class="sbmProfileMenuDivider"></mat-divider>
            <mat-list-item class="smbProfileMenuLogout">
                <a flex mat-raised-button color="accent" (click)="logout();">
                    <mat-icon id="signOutButton" class="white">exit_to_app</mat-icon>
                    Sign out
                </a>
            </mat-list-item>
        
        </mat-list>
    </mat-menu>

    </div>
    <div td-sidenav-content>
      <mat-toolbar td-sidenav-content
        ><span>Neocepts</span>
        <button
          style="position: absolute;
          right: 0;"
          mat-icon-button
          tdLayoutNavListToggle
          [hideWhenOpened]="false"
        >
          <mat-icon>arrow_back</mat-icon>
        </button></mat-toolbar
      >
      <mat-nav-list td-sidenav-content>
        <!-- <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
          <a mat-list-item routerLink="{{ item.route }}">
            <mat-icon matListIcon>{{ item.icon }}</mat-icon>
            {{ item.title }}
          </a>
        </ng-template> -->

        <a mat-list-item routerLink="customer-details">
          <mat-icon matListIcon>looks_one</mat-icon>
          Customer Details
        </a>
        <a mat-list-item routerLink="">
          <mat-icon matListIcon>looks_two</mat-icon>
          Asset Template
        </a>

        <a mat-list-item routerLink="ss-asset-temp">
          <mat-icon matListIcon>looks_3</mat-icon>
          Small Size Asset Template
        </a>
        <a mat-list-item routerLink="ms-asset-temp">
          <mat-icon matListIcon>looks_4</mat-icon>
          Medium Size Asset Template
        </a>

        <a mat-list-item routerLink="ls-asset-temp">
          <mat-icon matListIcon>looks_5</mat-icon>
          Large Size Asset Template
        </a>
      </mat-nav-list>
    </div>
    <mat-toolbar>
      <div layout="row" layout-align="start center" flex>
        <span
          ><button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
            <mat-icon>arrow_forward</mat-icon></button
          >Content Title</span
        >
        <span flex></span>
        <button mat-icon-button><mat-icon>settings</mat-icon></button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption"
          >Copyright &copy; 2017 Teradata. All rights reserved</span
        >
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>
